@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
header {
  font-family: "Advent Pro", sans-serif;
  border-bottom: 2px solid rgb(204, 106, 51);
  font-weight: 400;
}
header .logo {
  height: 60px;
  width: 84px;
}
header li {
  font-size: 3rem;
  padding-right: 1rem;
}
header li .nav-link {
  text-decoration: none;
  font-size: 2rem;
  padding-right: 1rem;
  color: black;
}
header li .nav-link:hover {
  color: rgb(204, 106, 51);
}
header .styleBtn {
  border: 1px solid rgb(204, 106, 51);
  background-color: transparent;
  color: rgb(204, 106, 51);
  padding: 0.5rem 1.5rem;
  font-size: 20px;
  border-radius: 6px;
}
header .styleBtn:hover {
  background-color: rgb(204, 106, 51);
  color: white;
}

footer {
  background-color: rgba(255, 208, 182, 0.19);
  font-family: "Lato", sans-serif;
}
footer .footerHeading {
  font-size: 1.2rem;
  font-weight: 600;
}
footer .day {
  font-weight: 600;
  border-bottom: 1px solid gray;
}
footer .hour {
  font-size: 1.2rem;
}
footer .socialMedia {
  text-decoration: none;
  padding-right: 0.5rem;
  color: rgb(204, 106, 51);
  font-size: 1.5rem;
}
footer .bi-facebook {
  color: blue;
}
footer .bi-instagram {
  color: rgb(131, 58, 180);
}
footer .bi-youtube {
  color: red;
}
footer .rights {
  font-family: "Lato", sans-serif;
}

.heroSection {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.heroContainer {
  background-color: rgb(249, 220, 193);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroHeading {
  font-family: "Italiana", serif;
  font-size: 8rem;
  color: rgb(204, 106, 51);
  font-weight: 600;
  --animate-duration: 1.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroText {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: rgb(204, 106, 51);
  --animate-duration: 1.7s;
}

.heroBtn {
  font-family: "Lato", sans-serif;
  padding: 0.7rem 10rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  border: 1px solid rgb(204, 106, 51);
  background-color: white;
  color: rgb(204, 106, 51);
  --animate-duration: 1.9s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.heroImage {
  border-bottom-left-radius: 45rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1650px) {
  .heroHeading {
    font-size: 7rem;
  }
  .heroText {
    font-size: 1.5rem;
  }
}
@media (max-width: 1460px) {
  .heroHeading {
    font-size: 6rem;
  }
  .heroText {
    font-size: 1.4rem;
  }
}
@media (max-width: 1270px) {
  .heroHeading {
    font-size: 5rem;
  }
  .heroText {
    font-size: 1.3rem;
  }
}
@media (max-width: 1077px) {
  .heroHeading {
    font-size: 4rem;
  }
  .heroText {
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroImage {
    border-bottom-left-radius: 0rem;
    box-shadow: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .heroHeading {
    text-align: center;
  }
  .heroText {
    text-align: center;
  }
  .heroBtn {
    padding: 0.7rem 5rem;
  }
}
@media (max-width: 575px) {
  .heroHeading {
    padding-top: 3rem;
  }
}
.contactMain {
  background-color: rgba(255, 208, 182, 0.19);
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  padding: 3rem;
}
.contactMain .imgFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactMain .contactHeading {
  color: rgb(204, 106, 51);
  font-size: 3.5rem;
  font-family: "Italiana", serif;
  font-weight: 600;
}
.contactMain .contactText {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: gray;
}
.contactMain ::placeholder {
  color: gray;
  font-size: 2rem;
  font-family: "Advent Pro", sans-serif;
  font-style: italic;
}
.contactMain #name:focus::placeholder,
.contactMain #email:focus::placeholder,
.contactMain #message:focus::placeholder {
  color: transparent;
}
.contactMain input,
.contactMain .area {
  padding: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.1rem solid gray;
  background-color: transparent;
}
.contactMain .btnContainer {
  padding-top: 5rem;
}
.contactMain .btnContainer .contactBtn {
  font-family: "Lato", sans-serif;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  background-color: rgb(204, 106, 51);
  color: white;
  border: 1px solid rgb(237, 143, 91);
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.contactMain .btnContainer .contactBtn:hover {
  background-color: transparent;
  color: rgb(204, 106, 51);
}

.mainBlog {
  margin-bottom: 6rem;
}
.mainBlog .blogHeading {
  font-family: "Italiana", serif;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.mainBlog .blogCard {
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  height: 35rem;
  width: 25rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: transform 0.5s;
  animation-fill-mode: backwards;
}
.mainBlog .blogCard:hover {
  transform: scale(1.05);
}
.mainBlog .blogCard.cardOne {
  background-image: url(../images/blog-one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainBlog .blogCard.cardTwo {
  background-image: url(../images/blog-two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainBlog .blogCard.cardThree {
  background-image: url(../images/blog-three.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainBlog .blogCard .column-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainBlog .blogCard .cardHeading {
  font-size: 2.5rem;
  font-family: "Italiana", serif;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.mainBlog .blogCard .cardText {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.mainBlog .blogCard .readBtn {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.258);
  color: white;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.mainBlog .blogCard .readBtn:hover {
  background-color: white;
  color: black;
}

.faqsHeading {
  font-family: "Italiana", serif;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.faqsTextsContainer {
  margin-bottom: 5rem;
}
.faqsTextsContainer .faqQuestion {
  display: flex;
  border: 1px solid rgb(204, 106, 51);
  align-items: center;
  color: rgb(204, 106, 51);
  transition: transform 0.5s ease-in-out;
}
.faqsTextsContainer .faqQuestion:hover {
  transform: scale(1.2);
  background-color: rgba(255, 208, 182, 0.19);
  animation-fill-mode: backwards;
}
.faqsTextsContainer .faqQuestion.faqQuestionOne {
  --animate-duration: 0.5s;
}
.faqsTextsContainer .faqQuestion.faqQuestionTwo {
  --animate-duration: 1s;
}
.faqsTextsContainer .faqQuestion.faqQuestionThree {
  --animate-duration: 2s;
}
.faqsTextsContainer .faqQuestion.faqQuestionFour {
  --animate-duration: 3s;
}
.faqsTextsContainer .faqQuestion.faqQuestionFive {
  --animate-duration: 4s;
}
.faqsTextsContainer .faqQuestion .faqText {
  font-size: 2.5rem;
  font-family: "Advent Pro", sans-serif;
  font-style: italic;
  padding: 1rem 4rem;
  font-weight: 600;
}
.faqsTextsContainer .faqQuestion .faqArrow {
  margin-left: 2rem;
  color: rgb(204, 106, 51);
  font-size: 2rem;
}
.faqsTextsContainer .customLink {
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.stepsSection {
  padding-bottom: 5rem;
}
.stepsSection .stepsHeading {
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  border-bottom: 1px solid black;
  border-color: rgb(204, 106, 51);
  font-weight: 600;
}
.stepsSection .stepsContainer {
  padding-top: 5rem;
}
.stepsSection .stepsContainer .stepContent .stepImgContainer .stepsImage {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.stepsSection .stepsContainer .stepContent .texContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stepsSection .stepsContainer .stepContent .texContainer .stepText {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.stepsSection .stepsContainer .stepContent .texContainer .step {
  font-size: 2.5rem;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  color: rgb(204, 106, 51);
}

@media (max-width: 992px) {
  .stepsHeading {
    margin-bottom: 5rem;
    text-align: center;
    margin-bottom: 0rem;
  }
  .stepsContainer {
    text-align: center;
    padding-top: 1rem;
  }
  .stepText {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .stepsHeading {
    font-size: 2rem;
  }
}
.treatmentsSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.treatmentsSection .treatmentsHeadingContaniner {
  padding-bottom: 5rem;
}
.treatmentsSection .treatmentsHeadingContaniner .treatmentsHeading {
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  border-bottom: 1px solid black;
  border-color: rgb(204, 106, 51);
  font-weight: 600;
}
.treatmentsSection .treatments {
  font-family: "Italiana", serif;
  font-size: 5rem;
  font-weight: 400;
}
.treatmentsSection .treatments .treatment {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
}
.treatmentsSection .treatments .treatment:hover {
  transform: scale(1.2);
  color: rgb(204, 106, 51);
}
.treatmentsSection .treatments .treatment.treatmentTwo {
  padding-left: 8rem;
}
.treatmentsSection .treatments .treatment.treatmentFour {
  padding-right: 2rem;
}

.appointmentContainer {
  background-image: url(../images/appointment-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.appointmentContainer .appointmentHeading {
  font-family: "Italiana", serif;
  font-weight: 600;
  font-size: 4rem;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.appointmentContainer .textHeading {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.appointmentContainer .appointmentButton {
  color: white;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  border: 1px solid white;
  font-weight: 400;
}

.aboutHeading {
  font-family: "Italiana", serif;
  font-size: 5rem;
  text-shadow: 2px 2px 4px solid rgba(0, 0, 0, 0.5);
}

.aboutContent h2 {
  font-size: 2.5rem;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.aboutContent hr {
  border-color: rgb(204, 106, 51);
  border-width: 0.5rem;
}
.aboutContent .aboutText {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgDiv .imgContainer img {
  width: fit-content;
}
.imgDiv .imgContainer figcaption {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
