@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
header {
  font-family: "Advent Pro", sans-serif;
  border-bottom: 2px solid rgb(204, 106, 51);
  font-weight: 400;
}
header .logo {
  height: 3.75rem;
  width: 5.25rem;
}
header li .nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}
header li .nav-link:hover {
  color: rgb(204, 106, 51);
}
header .styleBtn {
  border: 1px solid rgb(204, 106, 51);
  background-color: transparent;
  color: rgb(204, 106, 51);
  padding: 0.2rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
header .styleBtn:hover {
  background-color: rgb(204, 106, 51);
  color: white;
}

footer {
  background-color: rgba(255, 208, 182, 0.19);
  font-family: "Montserrat", sans-serif;
}
footer .fa-solid {
  color: black;
  padding-right: 0.5rem;
}
footer .bold {
  font-size: 1rem;
  font-weight: 600;
}
footer .day {
  font-weight: 600;
  border-bottom: 1px solid gainsboro;
}
footer .hour {
  font-size: 1rem;
}
footer .social-container {
  margin: 1rem 0;
}
footer .social-container a {
  border: none;
  background-color: rgb(204, 106, 51);
  color: white;
  text-decoration: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  height: 2.5rem;
  width: 2.5rem;
}

.heroSection {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.heroSection .heroContainer {
  background-color: rgb(249, 220, 193);
}
.heroSection .heroContainer .contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .heroSection .heroContainer .contentContainer {
    display: flex;
    align-items: center;
  }
}
.heroSection .heroContainer .contentContainer .heroHeading {
  font-family: "Italiana", serif;
  font-size: 8rem;
  color: rgb(204, 106, 51);
  font-weight: 600;
  --animate-duration: 1.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1650px) {
  .heroSection .heroContainer .contentContainer .heroHeading {
    font-size: 7rem;
  }
}
@media (max-width: 1460px) {
  .heroSection .heroContainer .contentContainer .heroHeading {
    font-size: 6rem;
  }
}
@media (max-width: 1270px) {
  .heroSection .heroContainer .contentContainer .heroHeading {
    font-size: 5rem;
  }
}
@media (max-width: 1077px) {
  .heroSection .heroContainer .contentContainer .heroHeading {
    font-size: 4rem;
  }
}
.heroSection .heroContainer .contentContainer .heroText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: rgb(204, 106, 51);
  --animate-duration: 1.7s;
}
@media (max-width: 1650px) {
  .heroSection .heroContainer .contentContainer .heroText {
    font-size: 1.5rem;
  }
}
@media (max-width: 1460px) {
  .heroSection .heroContainer .contentContainer .heroText {
    font-size: 1.4rem;
  }
}
@media (max-width: 1270px) {
  .heroSection .heroContainer .contentContainer .heroText {
    font-size: 1.3rem;
  }
}
@media (max-width: 1077px) {
  .heroSection .heroContainer .contentContainer .heroText {
    font-size: 1.2rem;
  }
}
.heroSection .heroContainer .contentContainer a {
  text-decoration: none;
}
.heroSection .heroContainer .contentContainer a .heroBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  padding: 0.7rem 10rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  border: 1px solid rgb(204, 106, 51);
  background-color: white;
  color: rgb(204, 106, 51);
  --animate-duration: 1.9s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.heroSection .heroContainer .contentContainer a .heroBtn:hover {
  background-color: rgb(204, 106, 51);
  color: white;
}
@media (max-width: 767px) {
  .heroSection .heroContainer .contentContainer a .heroBtn {
    padding: 0.7rem 5rem;
  }
}
.heroSection .heroContainer .contentContainer a .heroBtn .heroBtnArrow {
  font-size: 1.5rem;
}
.heroSection .heroContainer .contentContainer a .heroBtn:hover {
  background-color: rgb(204, 106, 51);
  color: #fff;
}
.heroSection .heroContainer .heroImage {
  border-bottom-left-radius: 45rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  .heroSection .heroContainer .heroImage {
    border-bottom-left-radius: 0rem;
    box-shadow: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .heroSection .heroHeading,
  .heroSection .heroText {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .heroSection .heroHeading {
    padding-top: 3rem;
  }
}

.contactMain {
  background-color: rgba(255, 208, 182, 0.19);
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  padding: 0;
  border-radius: 1rem;
  max-height: 40rem;
}
.contactMain .imgFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactMain .contactHeading {
  color: rgb(204, 106, 51);
  font-size: 4rem;
  font-family: "Italiana", serif;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .contactMain .contactHeading {
    font-size: 5rem;
  }
}
@media (max-width: 992px) {
  .contactMain .contactHeading {
    font-size: 4rem;
  }
}
@media (max-width: 576px) {
  .contactMain .contactHeading {
    font-size: 3rem;
  }
}
.contactMain .contactText {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: gray;
}
@media (max-width: 1200px) {
  .contactMain .contactText {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .contactMain .contactText {
    font-size: 1.5rem;
  }
}
.contactMain ::placeholder {
  color: gray;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
@media (max-width: 1200px) {
  .contactMain ::placeholder {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .contactMain ::placeholder {
    font-size: 1.5rem;
  }
}
.contactMain #name:focus::placeholder,
.contactMain #email:focus::placeholder,
.contactMain #message:focus::placeholder {
  color: transparent;
}
.contactMain input,
.contactMain .area {
  padding: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.1rem solid gray;
  background-color: transparent;
}
@media (max-width: 576px) {
  .contactMain input,
  .contactMain .area {
    padding: 2rem;
  }
}
.contactMain .btnContainer {
  padding-top: 5rem;
}
@media (max-width: 1348px) {
  .contactMain .btnContainer {
    padding-top: 2rem;
  }
}
@media (max-width: 992px) {
  .contactMain .btnContainer {
    padding-bottom: 2rem;
  }
}
.contactMain .btnContainer .contactBtn {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  background-color: rgb(204, 106, 51);
  color: white;
  border: 1px solid rgb(204, 106, 51);
  font-weight: 400;
  letter-spacing: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.contactMain .btnContainer .contactBtn:hover {
  background-color: white;
  color: rgb(204, 106, 51);
}
@media (max-width: 576px) {
  .contactMain .btnContainer .contactBtn {
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  .contactMain .imgForm {
    display: none;
  }
}

.blogHeading {
  font-family: "Italiana", serif;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .blogHeading {
    font-size: 4.4rem;
  }
}
@media (max-width: 576px) {
  .blogHeading {
    font-size: 4rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.cardsContainer {
  padding-bottom: 4rem;
}
.cardsContainer .blogCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-direction: column;
  color: white;
  padding: 2rem;
  height: 35rem;
  width: 25rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  transition: transform 0.3s;
  animation-fill-mode: backwards;
}
.cardsContainer .blogCard:hover {
  transform: scale(1.05);
}
.cardsContainer .blogCard.cardOne {
  background-image: url(../images/blog-one.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardsContainer .blogCard.cardTwo {
  background-image: url(../images/blog-two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardsContainer .blogCard.cardThree {
  background-image: url(../images/blog-three.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardsContainer .blogCard .column-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cardsContainer .blogCard .cardHeading {
  font-size: 2.5rem;
  font-family: "Italiana", serif;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cardsContainer .blogCard .cardText {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cardsContainer .blogCard .readBtn {
  font-family: "Montserrat", sans-serif;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.258);
  color: white;
  padding: 0.2rem 3rem;
  font-size: 1.2rem;
  border-radius: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cardsContainer .blogCard .readBtn:hover {
  background-color: white;
  color: black;
}
@media (max-width: 1400px) {
  .cardsContainer .blogCard {
    margin-bottom: 2rem;
  }
}
@media (max-width: 992px) {
  .cardsContainer .mainBlog {
    padding-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .cardsContainer .blogHeading {
    font-size: 4.4rem;
  }
}
@media (max-width: 576px) {
  .cardsContainer .blogHeading {
    font-size: 4rem;
  }
  .cardsContainer .cardContainer {
    padding-top: 3rem;
  }
}

.faqsHeading {
  font-family: "Italiana", serif;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .faqsHeading {
    font-size: 4.4rem;
  }
}
@media (max-width: 576px) {
  .faqsHeading {
    font-size: 4rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.faqsTextsContainer {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .faqsTextsContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.faqsTextsContainer .faqQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 106, 51);
  color: rgb(204, 106, 51);
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .faqsTextsContainer .faqQuestion {
    transform: none;
  }
}
.faqsTextsContainer .faqQuestion:hover {
  transform: scale(1.1);
  background-color: rgba(255, 208, 182, 0.19);
  animation-fill-mode: backwards;
}
.faqsTextsContainer .faqQuestion.faqQuestionOne {
  --animate-duration: 0.5s;
}
.faqsTextsContainer .faqQuestion.faqQuestionTwo {
  --animate-duration: 1s;
}
.faqsTextsContainer .faqQuestion.faqQuestionThree {
  --animate-duration: 2s;
}
.faqsTextsContainer .faqQuestion.faqQuestionFour {
  --animate-duration: 3s;
}
.faqsTextsContainer .faqQuestion.faqQuestionFive {
  --animate-duration: 4s;
}
.faqsTextsContainer .faqQuestion .faqText {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  padding: 2rem 4rem;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 1404px) {
  .faqsTextsContainer .faqQuestion .faqText {
    font-size: 1.8rem;
  }
}
@media (max-width: 1200px) {
  .faqsTextsContainer .faqQuestion .faqText {
    font-size: 1.7rem;
  }
}
@media (max-width: 576px) {
  .faqsTextsContainer .faqQuestion .faqText {
    font-size: 1.5rem;
  }
}
.faqsTextsContainer .faqQuestion .fa-solid {
  margin-left: 2rem;
  color: rgb(204, 106, 51);
  font-size: 2rem;
}
@media (max-width: 576px) {
  .faqsTextsContainer .faqQuestion .fa-solid {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

.stepsSection {
  padding-bottom: 4rem;
}
.stepsSection .stepsHeading {
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  border-bottom: 1px solid black;
  border-color: rgb(204, 106, 51);
  font-weight: 600;
}
@media (max-width: 576px) {
  .stepsSection .stepsHeading {
    font-size: 2.5rem;
  }
}
.stepsSection .stepsContainer {
  padding-top: 4rem;
}
.stepsSection .stepsContainer .stepContent .stepImgContainer .stepsImage {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.stepsSection .stepsContainer .stepContent .texContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stepsSection .stepsContainer .stepContent .texContainer .stepText {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 1400px) {
  .stepsSection .stepsContainer .stepContent .texContainer .stepText {
    font-size: 1.7rem;
  }
}
@media (max-width: 1140px) {
  .stepsSection .stepsContainer .stepContent .texContainer .stepText {
    font-size: 1.7rem;
  }
}
@media (max-width: 992px) {
  .stepsSection .stepsContainer .stepContent .texContainer .stepText {
    font-size: 1.5rem;
  }
}
.stepsSection .stepsContainer .stepContent .texContainer .step {
  font-size: 2.5rem;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  color: rgb(204, 106, 51);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
  .stepsSection .stepsContainer .stepContent .texContainer .step {
    font-size: 2.3rem;
  }
}
@media (max-width: 400px) {
  .stepsSection .stepsContainer .stepContent .texContainer .step {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .stepsSection .stepsHeading {
    margin-bottom: 5rem;
    text-align: center;
    margin-bottom: 0rem;
  }
  .stepsSection .stepsContainer {
    text-align: center;
    padding-top: 3rem;
  }
}

.treatmentsSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 992px) {
  .treatmentsSection {
    padding-bottom: 2rem;
  }
}
@media (max-width: 760px) {
  .treatmentsSection {
    padding-bottom: 3rem;
  }
}
.treatmentsSection .treatmentsHeadingContaniner {
  padding-bottom: 5rem;
}
@media (max-width: 992px) {
  .treatmentsSection .treatmentsHeadingContaniner {
    padding-bottom: 3rem;
  }
}
@media (max-width: 760px) {
  .treatmentsSection .treatmentsHeadingContaniner {
    padding-bottom: 3rem;
  }
}
.treatmentsSection .treatmentsHeadingContaniner .treatmentsHeading {
  font-family: "Advent Pro", sans-serif, sans-serif;
  font-size: 3rem;
  border-bottom: 1px solid black;
  border-color: rgb(204, 106, 51);
  font-weight: 600;
}
@media (max-width: 992px) {
  .treatmentsSection .treatmentsHeadingContaniner .treatmentsHeading {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .treatmentsSection .treatmentsHeadingContaniner .treatmentsHeading {
    font-size: 2.5rem;
  }
}
.treatmentsSection .treatments {
  font-family: "Italiana", serif, serif;
  font-size: 5rem;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .treatmentsSection .treatments {
    font-size: 5rem;
  }
}
@media (max-width: 992px) {
  .treatmentsSection .treatments {
    font-size: 3.8rem;
    text-align: center;
  }
}
@media (max-width: 674px) {
  .treatmentsSection .treatments {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .treatmentsSection .treatments {
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .treatmentsSection .treatments {
    font-size: 1.5rem;
  }
}
.treatmentsSection .treatments .treatment {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 992px) {
  .treatmentsSection .treatments .treatment {
    transition: none;
  }
}
.treatmentsSection .treatments .treatment:hover {
  transform: scale(1.2);
  color: rgb(204, 106, 51);
}
@media (max-width: 992px) {
  .treatmentsSection .treatments .treatment:hover {
    transform: none;
    color: rgb(204, 106, 51);
  }
}
.treatmentsSection .treatments .treatmentTwo {
  padding-left: 5rem;
}
@media (max-width: 760px) {
  .treatmentsSection .treatments .treatmentTwo {
    padding-left: 0;
  }
}
.treatmentsSection .treatments .treatmentFour {
  padding-right: 5rem;
  padding-right: 0;
}
@media (max-width: 760px) {
  .treatmentsSection .treatments .treatmentFour {
    padding-left: 0;
  }
}

.appointmentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/appointment-img.jpg);
  height: 28.125rem;
  width: 100%;
  margin-top: 8rem;
  flex-direction: column;
  color: white;
}
.appointmentContainer .appointmentHeading {
  font-family: "Italiana", serif;
  font-weight: 600;
  font-size: 4rem;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 576px) {
  .appointmentContainer .appointmentHeading {
    font-size: 3.5rem;
  }
}
@media (max-width: 400px) {
  .appointmentContainer .appointmentHeading {
    font-size: 3rem;
  }
}
.appointmentContainer .textHeading {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 576px) {
  .appointmentContainer .textHeading {
    font-size: 1.4rem;
  }
}
@media (max-width: 400px) {
  .appointmentContainer .textHeading {
    font-size: 1.2rem;
  }
}
.appointmentContainer .appointmentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  border: 1px solid white;
  font-weight: 400;
  flex-direction: row;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.appointmentContainer .appointmentButton:hover {
  background-color: white;
  color: black;
}
@media (max-width: 576px) {
  .appointmentContainer .appointmentButton {
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  .appointmentContainer .appointmentButton {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .appointmentContainer {
    margin-top: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.aboutHeading {
  font-family: "Italiana", serif;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .aboutHeading {
    font-size: 4.4rem;
  }
}
@media (max-width: 576px) {
  .aboutHeading {
    font-size: 4rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.aboutContent h2 {
  font-size: 2.5rem;
  font-family: "Italiana", serif;
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 1200px) {
  .aboutContent h2 {
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
  }
}
@media (max-width: 490px) {
  .aboutContent h2 {
    font-size: 2rem;
    font-weight: 600;
  }
}
.aboutContent .aboutText {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .aboutContent .aboutText {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (max-width: 490px) {
  .aboutContent .aboutText {
    font-size: 1.3rem;
  }
}
.aboutContent hr {
  border-color: rgb(204, 106, 51);
  border-width: 0.5rem;
}

.imgContainer img {
  width: fit-content;
}
.imgContainer figcaption {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .imgContainer figcaption {
    padding-top: 0.5rem;
    font-size: 1.4rem;
  }
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .imgDiv {
    padding-top: 2rem;
  }
}

body .formSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/appointment-img-blur.jpg);
  background-position: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body .formSection .formContainer {
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 30rem;
  max-width: 100%;
  min-height: 35rem;
}
body .formSection .formContainer .signInForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  padding: 0 3.125rem;
  height: 100%;
  text-align: center;
  border-radius: 5rem;
}
body .formSection .formContainer .signInForm .signInHeading {
  font-family: "Italiana", serif;
  font-weight: bold;
  margin: 0;
  color: rgb(204, 106, 51);
  font-size: 3rem;
}
body .formSection .formContainer .signInForm .social-container {
  margin: 1.25rem 0;
}
body .formSection .formContainer .signInForm .social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.313rem;
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.3s;
}
body .formSection .formContainer .signInForm .social-container a:hover {
  transform: scale(1.1);
}
body .formSection .formContainer .signInForm input {
  background-color: #eee;
  border: none;
  padding: 0.75rem 0.938rem;
  margin: 0.5rem 0;
  width: 100%;
}
body .formSection .formContainer .signInForm a {
  color: #333;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.938rem 0;
}
body .formSection .formContainer .signInForm a span {
  color: rgb(204, 106, 51);
  text-decoration: underline rgb(204, 106, 51);
}
body .formSection .formContainer .signInForm .signButton {
  border-radius: 2rem;
  border: 0.1rem solid rgb(204, 106, 51);
  background-color: rgb(204, 106, 51);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.75rem 2.813rem;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
body .formSection .formContainer .signInForm .signButton:hover {
  background-color: white;
  color: rgb(204, 106, 51);
  border-color: rgb(204, 106, 51);
}

/*# sourceMappingURL=styles.css.map */
