.aboutHeading {
    font-family: $font-italiana;
    font-size: $font-size-xxxxxlarge;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    @media (max-width: 768px) {
        font-size: 4.4rem;
    }

    @media (max-width: 576px) {
        font-size: 4rem;
        padding-left: 0;
        padding-right: 0;
    }
}

.aboutContent {
    h2 {
        font-size: 2.5rem;
        font-family: $font-italiana;
        font-weight: 600;
        font-style: italic;

        @media (max-width: 1200px) {
            font-size: 2.3rem;
            font-weight: 600;
            text-align: center;
        }

        @media (max-width: 490px) {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .aboutText {
        font-size: $font-size-medium;
        font-family: $font-lato;
        font-weight: 400;

        @media (max-width: 1200px) {
            font-size: $font-size-medium;
            text-align: center;
        }

        @media (max-width: 490px) {
            font-size: 1.3rem;
        }
    }

    hr {
        border-color: $color-primary;
        border-width: 0.5rem;
    }
}

.imgContainer {
    img {
        width: fit-content;
    }

    figcaption {
        font-family: $font-advent;
        font-size: $font-size-medium;
        font-weight: 600;

        @media (max-width: 1200px) {
            padding-top: 0.5rem;
            font-size: 1.4rem;
        }
    }
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
        padding-top: 2rem;
    }
}


