.appointmentContainer {
    @include flex-center-center;
    @include cover-no-repeat;
    background-image: url(../images/appointment-img.jpg);
    height: 28.125rem;
    width: 100%;
    margin-top: 8rem;
    flex-direction: column;
    color: $color-white;

    .appointmentHeading {
        font-family: $font-italiana;
        font-weight: 600;
        font-size: $font-size-xxlarge;
        font-style: italic;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: 576px) {
            font-size: 3.5rem;
        }

        @media (max-width: 400px) {
            font-size: $font-size-xlarge;
        }
    }

    .textHeading {
        font-size: $font-size-medium;
        font-family: $font-montserrat;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @media (max-width: 576px) {
            font-size: 1.4rem;
        }

        @media (max-width: 400px) {
            font-size: 1.2rem;
        }
    }

    .appointmentButton {
        @include flex-center-center;
        color: $color-white;
        background-color: rgba(255, 255, 255, 0.1);
        font-family: $font-montserrat;
        font-size: 1.3rem;
        border: 1px solid $color-white;
        font-weight: 400;
        flex-direction: row;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            background-color: $color-white;
            color: $color-black;
        }

        @media (max-width: 576px) {
            font-size: 1.3rem;
        }

        @media (max-width: 400px) {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 1200px) {
    .appointmentContainer {
        margin-top: $spacing-lg;
    }
}