.appointmentContainer {
    background-image: url(../images/appointment-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    margin-top: $spacing-xxxlarge;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;

    .appointmentHeading {
        font-family: $font-italiana;
        font-weight: 600;
        font-size: 4rem;
        font-style: italic;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .textHeading {
        font-size: $font-size-medium;
        font-family: $font-roboto;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .appointmentButton {
        color: $color-white;
        background-color: transparent;
        font-family: $font-lato;
        font-size: $font-size-medium;
        border: 1px solid $color-white;
        font-weight: 400;
    }
}