.contactMain {
    background-color: $color-secondary;
    margin-top: $spacing-xxxl;
    margin-bottom: $spacing-xxxl;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    padding: 0;
    border-radius: 1rem;
    max-height: 40rem;

    .imgFormContainer {

        img {
            height: 100%;
            width: 100%;
        }
    }

    .contactHeading {
        color: $color-primary;
        font-size: $font-size-xxlarge;
        font-family: $font-italiana;
        font-weight: 600;

        @media (max-width: 1200px) {
            font-size: $font-size-xxlarge;
        }

        @media (max-width: 992px) {
            font-size: $font-size-xxlarge;
        }

        @media (max-width: 576px) {
            font-size: $font-size-xlarge;
        }
    }

    .contactText {
        font-size: 1.4rem;
        font-family: $font-montserrat;
        font-weight: 400;
        color: $color-gray;

        @media (max-width: 1200px) {
            font-size: 1.3rem;
        }

        @media (max-width: 992px) {
            font-size: 1.3rem;
        }
    }

    ::placeholder {
        color: $color-gray;
        font-size: $font-size-medium;
        font-family: $font-montserrat;
        font-style: italic;

        @media (max-width: 1200px) {
            font-size: $font-size-medium;
        }

        @media (max-width: 992px) {
            font-size: $font-size-medium;
        }
    }

    #name:focus::placeholder,
    #email:focus::placeholder,
    #message:focus::placeholder {
        color: transparent;
    }

    input,
    .area {
        padding: 0.5rem;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0.1rem solid $color-gray;
        background-color: transparent;

        @media (max-width: 1200px) {
            padding: $spacing-sm;
        }
    }

    .btnContainer {
        padding-top: $spacing-xxl;

        @media (max-width: 1348px) {
            padding-top: $spacing-md;
        }

        @media (max-width: 992px) {
            padding-bottom: $spacing-md;
        }

        .contactBtn {
            font-family: $font-montserrat;
            border-radius: 0.3rem;
            font-size: 1.3rem;
            background-color: $color-primary;
            color: white;
            border: 1px solid $color-primary;
            font-weight: 400;
            letter-spacing: 2px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: $color-white;
                color: $color-primary;
            }

            @media (max-width: 576px) {
                font-size: 1.2rem;
            }
        }
    }

    .imgForm {
        @media (max-width: 992px) {
            display: none;
        }
    }
}