.faqsHeading {
    @include headings-h1;

    @media (max-width: 768px) {
        @include media-768-headings-h1;
    }

    @media (max-width: 576px) {
        @include media-576-headings-h1;
    }
}

.faqsTextsContainer {
    margin-bottom: $spacing-xxl;

    @media (max-width: 768px) {
        padding-left: $font-size-large;
        padding-right: $font-size-large;
    }

    .faqQuestion {
        @include flex-center-center;
        border: 1px solid $color-primary;
        color: $color-primary;
        transition: transform 0.5s ease-in-out;


        @media (max-width: 768px) {
            transform: none;
        }

        &:hover {
            transform: scale(1.1);
            background-color: $color-secondary;
            animation-fill-mode: backwards;
        }

        &.faqQuestionOne {
            --animate-duration: 0.5s;
        }

        &.faqQuestionTwo {
            --animate-duration: 1s;
        }

        &.faqQuestionThree {
            --animate-duration: 2s;
        }

        &.faqQuestionFour {
            --animate-duration: 3s;
        }

        &.faqQuestionFive {
            --animate-duration: 4s;
        }

        .faqText {
            font-size: $font-size-large;
            font-family: $font-montserrat;
            font-style: italic;
            padding: $spacing-md $spacing-xl;
            font-weight: 400;
            margin: 0;

            @media (max-width: 1404px) {
                font-size: 1.8rem;
            }

            @media (max-width: 1200px) {
                font-size: 1.7rem;
            }

            @media (max-width: 576px) {
                font-size: $font-size-medium;
            }
        }

        .fa-solid {
            margin-left: $spacing-md;
            color: $color-primary;
            font-size: $font-size-large;

            @media (max-width: 576px) {
                font-size: $font-size-medium;
                margin-left: 0;
            }
        }
    }
}