.faqsHeading {
    font-family: $font-italiana;
    font-size: $font-size-xxxxxlarge;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    @media (max-width: 768px) {
        font-size: 4.4rem;
    }

    @media (max-width: 576px) {
        font-size: 4.4rem;
    }
}

.faqsTextsContainer {
    margin-bottom: $spacing-xlarge;
    @media (max-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .faqQuestion {
        border: 1px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;
        transition: transform 0.5s ease-in-out;


        @media (max-width: 768px) {
            transform: none;
        }

        &:hover {
            transform: scale(1.2);
            background-color: $color-secondary;
            animation-fill-mode: backwards;
        }

        &.faqQuestionOne {
            --animate-duration: 0.5s;
        }

        &.faqQuestionTwo {
            --animate-duration: 1s;
        }

        &.faqQuestionThree {
            --animate-duration: 2s;
        }

        &.faqQuestionFour {
            --animate-duration: 3s;
        }

        &.faqQuestionFive {
            --animate-duration: 4s;
        }

        .faqText {
            font-size: $font-size-xlarge;
            font-family: $font-advent;
            font-style: italic;
            padding: $spacing-medium $font-size-xxxxlarge;
            font-weight: 600;

            @media (max-width: 1404px) {
                font-size: 1.8rem;
            }

            @media (max-width: 1200px) {
                font-size: 1.7rem;
            }

            @media (max-width: 576px) {
                font-size: 1.5rem;
                
            }
        }

        .faqArrow {
            margin-left: $spacing-large;
            color: $color-primary;
            font-size: $font-size-large;

            @media (max-width: 576px) {
                font-size: 1.5rem;
                margin-left: 0;
            }
        }
    }
}
