footer {
    background-color: $color-secondary;
    font-family: $font-lato;

    //footer heading
    .footerHeading {
        font-size: $font-size-xs;
        font-weight: 600;
    }

    //día
    .day {
        font-weight: 600;
        border-bottom: 1px solid gainsboro;
    }

    //horario
    .hour {
        font-size: $font-size-xs;
    }

    //enlaces de redes sociales
    .socialMedia {
        text-decoration: none;
        padding-right: $spacing-small;
        color: $color-primary;
        font-size: $font-size-medium;
    }

    //facebook
    .bi-facebook {
        color: $color-blue; // Asegúrate de tener una variable $color-blue definida
    }

    //instagram
    .bi-instagram {
        color: $color-violet;
    }

    //youtube
    .bi-youtube {
        color: $color-red; // Asegúrate de tener una variable $color-red definida
    }
    .rights{
        font-family: $font-lato;
    }
}
