// fuentes
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// márgenes y relleno 0 para todos los elementos
* {
    margin: 0;
    padding: 0;
}

// overflow oculto en main
main {
    overflow: hidden;
}