.heroSection {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    .heroContainer {
        background-color: $color-primary-light;


        .contentContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width:992px) {
                display: flex;
                align-items: center;
            }


            .heroHeading {
                font-family: $font-italiana;
                font-size: 8rem;
                color: $color-primary;
                font-weight: 600;
                --animate-duration: 1.5s;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

                @media (max-width:1650px) {
                    font-size: 7rem;
                }

                @media(max-width:1460px) {
                    font-size: 6rem;
                }

                @media(max-width:1270px) {
                    font-size: $font-size-xxxlarge;
                }

                @media(max-width:1077px) {
                    font-size: $font-size-xxlarge;
                }
            }

            .heroText {
                font-family: $font-montserrat;
                font-size: $font-size-medium;
                color: $color-primary;
                --animate-duration: 1.7s;

                @media (max-width:1650px) {
                    font-size: $font-size-medium;
                }

                @media(max-width:1460px) {
                    font-size: 1.4rem;
                }

                @media(max-width:1270px) {
                    font-size: 1.3rem;
                }

                @media(max-width:1077px) {
                    font-size: 1.2rem;
                }
            }

            a {
                text-decoration: none;
                

                .heroBtn {
                    @include flex-center-center;
                    flex-direction: row;
                    font-family: $font-montserrat;
                    padding: 0.7rem 10rem;
                    font-size: 1.1rem;
                    border-radius: 0.2rem;
                    font-weight: 600;
                    border: 1px solid $color-primary;
                    background-color: white;
                    color: $color-primary;
                    --animate-duration: 1.9s;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }

                    @media(max-width:767px) {
                        padding: 0.7rem 5rem;
                    }

                }

            }

        }

        .heroImage {
            border-bottom-left-radius: 45rem;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

            @media(max-width:992px) {
                border-bottom-left-radius: 0rem;
                box-shadow: none;
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }
    }

    @media(max-width:767px) {

        .heroHeading,
        .heroText {
            text-align: center;
        }
    }

    @media(max-width:575px) {
        .heroHeading {
            padding-top: 3rem;
        }
    }
}