.stepsSection {
    padding-bottom: $spacing-xl;

    .stepsHeading {
        @include headings-h2;

        @media (max-width: 576px) {
            font-size: 2.5rem;
        }
    }

    .stepsContainer {
        padding-top: $spacing-xl;

        .stepContent {
            .stepImgContainer {
                .stepsImage {
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
                }
            }

            .texContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .stepText {
                    font-size: 1.8rem;
                    font-family: $font-lato;
                    font-weight: 400;

                    @media (max-width: 1400px) {
                        font-size: 1.7rem;
                    }
                    @media (max-width: 1140px) {
                        font-size: 1.7rem;
                    }

                    @media (max-width: 992px) {
                        font-size: 1.5rem;
                    }
                }

                .step {
                    @include headings-h3;

                    @media (max-width: 992px) {
                        font-size: 2.3rem;
                    }
                    @media (max-width: 400px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        .stepsHeading {
            @include media-992-headings-h2;
        }

        .stepsContainer {
            text-align: center;
            padding-top: 3rem;
        }
    }
}