.treatmentsSection {
    padding-top: $spacing-xlarge;
    padding-bottom: $spacing-xlarge;

    .treatmentsHeadingContaniner {
        padding-bottom: $spacing-xlarge;

        .treatmentsHeading {
            font-family: $font-advent;
            font-size: $font-size-xxlarge;
            border-bottom: 1px solid black;
            border-color: $color-primary;
            font-weight: 600;
        }
    }

    .treatments {
        font-family: $font-italiana;
        font-size: $font-size-xxxxxlarge;
        font-weight: 400;

        .treatment {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            transition: transform 0.5s ease-in-out;

            &:hover {
                transform: scale(1.2);
                color: $color-primary;
            }
        }

        .treatmentTwo {
            padding-left: 9rem;
        }

        .treatmentFour {
            padding-right: 25rem;
        }
    }

    @media (max-width: 1200px) {
        .treatments {
            font-size: $font-size-xxxxxlarge;

            .treatmentFour {
                padding-right: 18rem;
            }
        }
    }

    @media (max-width: 992px) {
        padding-bottom: $spacing-small;

        .treatments {
            font-size: 3.8rem;

            .treatment {
                transition: none;
            }

            .treatment:hover {
                transform: none;
            }
        }

        .treatmentsHeadingContaniner {
            padding-bottom: 3rem;

            .treatmentsHeading {
                text-align: center;
            }
        }

        .treatmentsSection {
            text-align: center;

            .treatmentsHeadingContaniner {
                padding-bottom: 3rem;

                .treatmentFour {
                    padding-right: 0;
                }

                .treatmentTwo {
                    padding-left: 0;
                }
            }
        }
    }

    @media (max-width: 760px) {
        .treatmentsSection {
            padding-top: 3rem;
        }
    }

    @media (max-width: 674px) {
        .treatments {
            font-size: $font-size-xlarge;
        }
    }

    @media (max-width: 576px) {
        .treatmentsHeading {
            font-size: $font-size-xlarge;
        }

        .treatments {
            font-size: $font-size-xxxlarge;
        }
    }

    @media (max-width: 400px) {
        .treatments {
            font-size: $font-size-xlarge;
        }
    }
}
