// Colores 
$color-primary: rgba(204, 106, 51, 1);
$color-secondary: rgba(255, 208, 182, 0.19);
$color-gray: gray;
$color-primary-light: rgba(249, 220, 193, 1);
$color-white: white;
$color-black: black;
$color-blue: blue;
$color-red: red; 
$color-violet: rgb(131, 58, 180); 

// Fuentes
$font-italiana: 'Italiana', serif;
$font-lato:'Lato', sans-serif;
$font-advent:'Advent Pro', sans-serif;


//Tamaños de fuente
$font-size-xs: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xlarge: 2.5rem;
$font-size-xxlarge: 3rem;
$font-size-xxxlarge:3.5rem;
$font-size-xxxxlarge: 4rem;
$font-size-xxxxxlarge: 5rem;


// espaciados 
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-xlarge:5rem;
$spacing-xxlarge:6rem;
$spacing-xxxlarge: 8rem;
