// Colores 
$color-primary: rgba(204, 106, 51, 1);
$color-secondary: rgba(255, 208, 182, 0.19);
$color-gray: gray;
$color-primary-light: rgba(249, 220, 193, 1);
$color-white: white;
$color-black: black;
$color-blue: blue;
$color-red: red; 
$color-violet: rgb(131, 58, 180); 

// Fuentes
$font-italiana: 'Italiana', serif;
$font-lato:'Lato', sans-serif;
$font-advent:'Advent Pro', sans-serif;


//Tamaños de fuente
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xlarge: 3rem;
$font-size-xxlarge: 4rem;
$font-size-xxxlarge: 5rem;


// espaciados 
$spacing-xs: 1rem;
$spacing-sm: 1.5rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;
$spacing-xxl: 5rem;
